<!-- <h1>AppComponent</h1>
<h3>name : {{ name }}</h3>
<div>
  <p><i>Employee Detail</i></p>
  <p>{{ empObj.name }}</p>
  <p>{{ empObj.deptNo }}</p>
  <p>{{ empObj.loc }}</p>
  <button (click)="updateName()">update EmpName</button>
  <button (click)="updateObject()">update EmpObj</button>
  <button (click)="updateLoc()">update EmpLoc</button>
</div>
<hr /> -->

<!-- <onchange [name]="name"></onchange>
<oninit [name]="name"></oninit>

<docheck [empObj]="empObj"></docheck>
<changedetect></changedetect> -->

<!-- <aftercontentinit [empObj]="empObj">
  <child [Address]="empObj.loc"></child>
</aftercontentinit>  -->

<!-- <afterviewinit>
  <child1 [Address]="empObj.loc"></child1>
</afterviewinit>  -->

<!-- <ngmodel></ngmodel> -->
<!-- <databinding [name]="this.empObj.name" (childEmt)="saveData($event)"></databinding> -->

<!-- <app-vc-demo1></app-vc-demo1> -->

<!-- <ngclass [name]="this.empObj.name"></ngclass> -->



<!-----Procademy TemplateRef------->
<!-- <app-parent></app-parent> -->


<!-----Procademy ViewChild------->
<app-vc-parent></app-vc-parent>