<h3 class="container" appSetbackground> This is custom binding Example </h3>
<div class="container" appSetbackground>
  <p>This is a demo HTML content to understnd custom attribute directive in angular.</p>
</div>

<div appHighlight appHover>
<p >This is a demo HTML content to understnd custom attribute directive in angular.</p>
</div>

<div class='container' [appBetterHighlight]="'red'" [defaultColor]="'yellow'" [title]="'Example Title'">
<p >This is a demo HTML content to understnd @HostBinding in angular.</p>
</div>

<div [appClass]="{container: true, 'change-font': true}">
   <p> This is demo HTML content to understand how to create custom ngClass directive in Angular.</p>
</div>

<div class='container' [appStyle]="{backgroundColor:active ?'Green':'Red', color:'white'}">
<p> This is demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
</div>